// Заголовки, общие БЄМ блоки и проче...

.icon {
  display: inline-block;
  width: 54px;
  height: 54px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  // .icon_1
  &_1 {
    background-image: url("@img/what-will-be/1.svg");
  }
  // .icon_2
  &_2 {
    background-image: url("@img/what-will-be/2.svg");
  }
  // .icon_3
  &_3 {
    background-image: url("@img/what-will-be/3.svg");
  }
  // .icon_4
  &_4 {
    background-image: url("@img/what-will-be/4.svg");
  }
  // .icon_5
  &_5 {
    background-image: url("@img/what-will-be/5.svg");
  }
}

.title {
  display: grid;
  justify-items: center;
  gap: 5px;
  
  font-size: 1.8rem;
  font-weight: 400;

  @media (min-width:$tablet){
      
  }

  &_mb {
    margin-bottom: 25px;
  }
  span {
    background: linear-gradient(105deg, #FFC367 35.08%, #D78200 70.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 2.8rem;
    font-weight: 500;

    @media (min-width:$tablet){
      
    }
  }
}


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================