
//====================================================================================================
.footer {
  color: #ffffff;
  padding: 75px 0;
  // .footer__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__column
  &__column {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  // .footer__logo

  &__logo {}

  // .footer__link
  &__link {}
}



//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================